
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.Calculator{
  width: 400px;
  height: 600px;
}

.CalculatorRow {
  display: flex;
  width: 100%;
}

.Result {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  outline: 1px solid #888888;
}

.Button {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: black;
  flex: 1;
  outline: 1px solid #888888;
}

.Operator {
  background-color: #fe9241;
  color: #ffffff;
}

.ZeroButton {
  flex-grow: 2.2;
}
